img {
  background-repeat: no-repeat;
  width: 100%;
  height: 40vh;
}


/* HISTORY */
p, h1, h2 {
  font-family: Arial, Helvetica, sans-serif;
}

/* buttonCard */
.hover-button {
  --color: black;
  font-family: inherit;
  display: inline-block;
  width: 10em;
  height: 2.6em;
  line-height: 2.5em;
  overflow: hidden;
  z-index: 1;
  color: var(--color);
  position: relative;
}

.hover-button::before {
  position: absolute;
  content: "";
  background: var(--color);
  width: 250px;
  height: 100px;
  z-index: -1;
}

.hover-button:hover {
  color: white;
}

.hover-button:before {
  top: 100%;
  left: 100%;
  transition: .0s all;
}

.hover-button:hover::before {
  top: -30px;
  left: -30px;
}


/* mapa-form responsive */
@media (max-width: 400px) {
  .map-mobile {
    padding-right: 1.3rem;
  }
}


@media (max-width: 639px) and (max-height: 844px) {
  .size-box {
    padding: 0px;
    margin-bottom: 50px;
  }

  .max-w-md {
    max-width: 90%;
  }

  .object-none {
    max-height: 30rem;
  }

  .lette-size {
    font-size: 0.9rem;
    font-weight: bold;
    white-space: nowrap;
  }


}




