#showcaseImage {
  background-image: url(../../../images/showcase.png);
  background-size: cover;
  background-position: center;
  width: 80%;
  height: 90vh;
}



.style-button {
  --font-color: #323232;
  --bg-color: #fff;
  --main-color: #323232;
  width: 140px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 17px;
  font-weight: 600;
  color: var(--font-color);
  cursor: pointer;
}

.style-button:active {
  box-shadow: 0px 0px var(--main-color);
  transform: translate(3px, 3px);
}


/* HISTORY */
p, h1 {
  font-family: Arial, Helvetica, sans-serif;
}

.grid-container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 10px;
}

.column {
  padding: 20px;
}

@media (min-width: 768px) {
  .column {
    padding: 30px;
  }
}

@media (min-width: 1024px) {
  .column {
    padding: 40px;
  }
}
