#showcaseImage {
  background-image: url(../../../images/showcase.png);
  background-size: cover;
  background-position: center;
  width: 70%;
  height: 95vh;
}

/* IMG */

img {
  background-repeat: no-repeat;
  width: 100%;
  height: 30vh;
  object-fit: cover;
  object-position: center 70%;
}

.img-presentation img {
  background-repeat: no-repeat;
  width: 100%;
  height: 30vh;
  margin-top: 20px;
  object-fit: cover;
  object-position: center 70%;
}


.img-presentations img{
  background-repeat: no-repeat;
  width: 100%;
  height: 30vh;
  object-fit: cover;
  object-position: center 60%;
}


@media screen and (max-width: 768px) {
  .img-presentation img {
    height: 20vh;
  }
  .img-presentations img {
    height: 15vh;
  }
}

@media (max-height: 844px) {
  img,
  .img-presentation img,
  .img-presentations img {
    height: 200px;

  }
}

@media screen and (max-width: 639px)  {
  .img-presentation img {
    width: 100%;
    height: 20vh;
  }

  .img-presentations img {
    width: 100%;
    height: 20vh;
  }
}


/* BOTON OUTLET */
.style-button {
  --font-color: #323232;
  --bg-color: #fff;
  --main-color: #323232;
  width: 140px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 17px;
  font-weight: 600;
  color: var(--font-color);
  cursor: pointer;
}

.style-button:active {
  box-shadow: 0px 0px var(--main-color);
  transform: translate(3px, 3px);
}


/* HISTORY */
p, h1, h2 {
  font-family: Arial, Helvetica, sans-serif;
}

.grid-container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
}

.grid-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 100%;
  background-color: #f5f5e5;
  z-index: -1;
}

.column {
  padding: 20px;
}

@media (min-width: 768px) {
  .column {
    padding: 30px;
  }
}

@media (min-width: 1024px) {
  .column {
    padding: 40px;
  }
}

/* cardPrincipal */

.letter {
  font-size: 13px;
}

/* buttonCard */
.hover-button {
  --color: black;
  font-family: inherit;
  display: inline-block;
  width: 10em;
  height: 2.6em;
  line-height: 2.5em;
  overflow: hidden;
  z-index: 1;
  color: var(--color);
  position: relative;
}

.hover-button::before {
  position: absolute;
  content: "";
  background: var(--color);
  width: 250px;
  height: 100px;
  z-index: -1;
}

.hover-button:hover {
  color: white;
}

.hover-button:before {
  top: 100%;
  left: 100%;
  transition: .0s all;
}

.hover-button:hover::before {
  top: -30px;
  left: -30px;
}



@media (max-width: 639px) and (max-height: 844px) {
  .space-img {
    padding-bottom: 50px;
  }
}

@media (max-width: 768px) {
  #showcaseImage {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
}

