.container {
  position: relative;
  --size-button: 40px;
  color: rgb(23, 23, 23);
}

.input {
  padding-left: var(--size-button);
  height: var(--size-button);
  font-size: 15px;
  border: none;
  color: #000000;
  outline: none;
  width: var(--size-button);
  transition: all ease 0.3s;
  background-color: #0033fe00;
  border-radius: 50px;
  cursor: pointer;
}

.input:focus,
.input:not(:invalid) {
  width: 200px;
  cursor: text;
  box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgb(95 94 94 / 25%), inset 1.5px 1.5px 3px #0e0e0e, inset -1.5px -1.5px 3px #5f5e5e;
}

.input:focus + .icon,
.input:not(:invalid) + .icon {
  pointer-events: all;
  cursor: pointer;
}

.container .icon {
  position: absolute;
  width: var(--size-button);
  height: var(--size-button);
  top: 0;
  left: 0;
  padding: 8px;
  pointer-events: none;
}

.container .icon svg {
  width: 100%;
  height: 100%;
}




@media (max-width: 767px) {
  .title-center {
    text-align: center;
  }

}


/* STICKY */
.sticky {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
}


