@media (max-width: 768px) {
  #Projects.grid-responsive {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 15px;
    justify-items: center;
    padding: 0 15px;
    padding-left: 10px;
  }

  .w-72 {
    max-width: 96%;
    height: auto;
  }

  .w-72:hover {
    transform: none;
    box-shadow: none;
  }
}
